:root{

--background-color: #fff8f0;
--button-color: #0e4675;
--icon-color: #1b1424;
--nav-color: #f2c17c;
--yellow-color:#77c6ff;
--light-pink-color:#ffbaaa;
--menu-color:#ec92ab;

}

/*
Medidas telefono:
Medidas Tablet:
Medidas PC:
*/

body{ 
    background-color: var(--background-color);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;

}

.Btn{ background-color: var(--button-color);
    color: var(--background-color);
    padding: 10px;
    font-weight:bold;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;

}

/*---------------Navegador principal---------------------*/

/*Quitar la decoración de los hipervínculos*/
a{text-decoration: none;}

 /*Modificar el aspecto de las listas del navegador*/
.Top-nav-ul {
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    gap: 3rem;
}
 /* Estilo para los enlaces del menú desplegable */
.Top-nav-link {
    display: block;
    padding: 8px 0;
    color: var(--icon-color);
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
.Top-nav-li {
    list-style-type: none;
    padding: 18px 0px;
  }

  .Top-nav-subMenu{
    display: none;
    flex-direction: column;
    position: fixed;
    background-color:var(--menu-color);
    align-items: flex-start;
    transition: all 0.5s ease;
    width: 18.75rem;
    right: 1.25rem;
    border-radius: 5px;
    padding: 20px 0px;
    opacity: 0;
    box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);}
  
 /*Uso de hover para hacer aparecer y desaparecer las opciones del menú del navegador*/
 .Top-nav-li:hover .Top-nav-subMenu{
    display: block;
    opacity: 1;
    display: flex;

  }

    /* Estilos para el menú desplegable */

  .Sub-item {
    width: 84%;
    display: flex;
    align-items: center;
    gap: 0.725rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
  }


.Top-nav{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    box-shadow: 1px 1px 10px #896c43;
    padding: 10px;
    margin: 0 0 0px 0;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 2;
}

.Top-nav-name{ 
    color: var(--icon-color);
    font-size: 1.2rem;
    margin-left: 30px;
    margin-top: -5;
    font-family: "Macondo";
}

.Top-nav-menu{
    display: flex;
    flex-direction: row;
}

.Top-nav-profileImg{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    }

.Top-nav-menuIcon{
    margin-right: 50px;

}
/*---------------------------Contenido Principal----------------------------*/
.Main-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 80px;
    width: 100%;
}


/**/
.Main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-pink-color);
    height: 800px;
    width: 100%;

}

.Main-title{ font-family: "Macondo";
    font-size: 45px;
    color: var(--background-color);}

.Main-aboutMe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.Main-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 1px 2px 10px var(--icon-color);
    }
.Main-h3{
    color: var(--button-color);

}
.Main-h4{
    font-size: 18px;
    font-weight: 500;

}
.Main-h2{
    color:var(--icon-color);
    margin-bottom: 0;
}
.Main-presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Main-description{
    padding: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--icon-color);
    background-color: var(--background-color);
    box-shadow: 1px 2px 10px var(--icon-color);
    border-radius: 10px;
    width: 80%;

}
.Main-categoria{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    animation-name: aaa;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.Main-categoria-ilustracion{
    width: 100%;
    height: 200px;
    background-color: var(--button-color);
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
    animation: contraccionExpandir 2s ;



}

.Main-categoria-diseño{
    width: 100%;
    height: 200px;
    background-color: var(--nav-color);
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    animation: contraccionExpandir 2.5s ;


}

.Main-categoria-joyas{
    width: 100%;
    height: 200px;
    background-color: var(--light-pink-color);
    justify-content: center;
    display: flex;
    align-items: center;
    animation: contraccionExpandir 3s ;

}
.Main-categoria-title{
    color: var(--background-color);
    font-size: 30px;
}
.Main-separacion{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.Main-shop-banner{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 200px;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to bottom, #db9c95, #ffffff);
}
.Logo-img{
    height: 200px;
    width:70%;
    object-fit: contain;
    margin-left: 55px;
}


@keyframes contraccionExpandir {
    0% {
      width: 100%;
    }
    50% {
      width: 60%; /* Contracción a la mitad */
    }
    100% {
      width: 100%; /* Expansión completa */
    }
  }


@media screen and (min-width: 1100px){
    .Main-title{ 
        font-size: 55px;
       }
       .Main-aboutMe{
     gap: 70px;
    
    }
       .Main-img{
        height: 400px;
        width: 400px;
        margin-left: -50px;
        margin-top: 40px;
  
        }
    .Main-description{
       height: 200px;
       width: 700px;
       text-align: center;
    }
    .Main-h4{
        font-size: 18px;
    }
    .Main-h2{
        font-size: 36px;
        margin-bottom: 0;
    }
    .Main-h3{
        font-size: 20px;
    }
    .Top-nav-name{ 
  
        font-size: 2rem;
 
    }

}




/*--------------------------FOOTER---------------------------*/
.Footer-index{
    position: relative;
    background-color: var(--icon-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100px;
    margin: auto 0 0 0;
    
}
.Footer-rrss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    margin: auto 0 30px 0;
}
.Footer-copyright{
    color: var(--background-color);
    font-weight: normal;
}


/*---------------------ARTICULOS TIENDA-------------------------*/

.Item-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

.Item-search{
    border: none;
    box-shadow: 1px 2px 10px #a09190;
    padding: 6px;
    border-radius: 10px;
    margin: 0;
    width: 250px;
}

.Item-searchButton{
    height: 29px;
    width: 27px;
    border: none;
    box-shadow: 1px 2px 10px #a09190;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--nav-color);

}
.Item-container{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 30px;

}
.Item-box{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 1px 1px 15px #d0bebc;
    text-align: center;


}
.Item-img{

    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    margin: 0;

}

.Item-h2{
    font-size: 1rem;
    padding: 5px;
    margin: 0;
    font-weight: 700;
    color: var(--button-color);

}

.Item-h3{
    font-size: 0.9rem;
    padding: 5px;
    margin: 0;
    font-weight: 500;
}
.Item-h4{
    font-size: 0.9rem;
    padding: 5px;
    margin: 0;
}


.Btn-item{
    font-size: 20px;
    width: 30px;
    color: var(--icon-color);
    border: 1px solid var(--button-color);
}


/*--------------------------------------Perfil----------------------------------------------------------*/

.Profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 86px 0 0 0;
    background-color: var(--light-pink-color);
    width: 100%;
}

.Perfil-info{ display: flex;
    flex-direction: column;
    height: 40%;
    width: 90%;
    background-color: var(--background-color);
    border-radius: 20px;
    margin: 20px 0;
    
;}

.Perfil-info-general{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.Perfil-info-words{
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 0.9rem;
    gap: 5px;
   
}
.Perfil-info-dato2{  font-size: 0.9rem;
    font-weight: light;
    color: var(--text-color-2);}

.Perfil-me{
    padding: 20px;
}
/*-------------------------------------PARTE DE ARRIBA PERFIL---------------------------------------------*/


.Perfil-principal{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    width: 80%;
    align-items: center;
    height: 40%;
    margin-bottom: 30px;
    }

.Perfil-img{ 
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0 0 10px;

    }



 /*-----------------------------------------DISEÑO------------------------------------*/

.Diseño-h1{
    font-family: "Macondo";
    color: var(--button-color);
    font-size: 36px;
}
.Diseño-title{
    font-family: "Macondo";
    color: var(--icon-color);
    font-size: 20px;
}
.Diseño-change{

    height: 300px; 
    width: 500px; 
    object-fit:contain;
    margin-top: 30px;
}
.Diseño-descripcion{

    font-weight: normal;
    font-size: 18px;
    padding: 10px;
}

.Carta-mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;
    margin-top: 90px;
    width: 100%;

}
.Carta-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: auto;
    padding: 5px;
        background-color: var(--light-pink-color);
}
    .Carta-img{
        height: 340px;
        width: 450px;
        object-fit: contain;
    }


    /*---------------------------------------------Inicio de Sesion-----------------------------------------*/

    hr{ color: var(--background-color);}
.Login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    }

    /*Formulario centrado y flexible*/
 #Login-form {
    background-color: var(--light-pink-color);
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    }
       /*titulo de la pagina web*/
.Login-title{
        font-family: "Macondo";
        font-size: 35px;
        color: var(--button-color);
        margin: 70px 0 50px 0;
    }

.Login-h3{
        margin-top: 20px;
        font-weight: lighter;
        font-size: 14px;
        text-align: center;
    }

       /*margen entre las etiquetas*/
.Login-label {
    padding: 10px;
    font-size: 14px;
    }
       /*estilo de los inputs del form*/
.Login-input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    margin:10px;
    }
hr{ margin-top: 20px;}



 /*Responsive en pantalla tablet*/
@media screen and (min-width: 768px){

    .Login-container{
    
        width: 450px;
        }
    .Login-title{
            font-size: 40px;
        } 
    }
/*Responsive en pantalla pc*/
    @media screen and (min-width: 1600px){

        .Login-container{
        
            width: 600px;
            height: 410px;
            }
        .Login-title{
                font-size: 55px; 
            }  
        .Login-label{
            font-size: 20px;
        } 
        .Login-input {
            height: 20px;
        }
        .Login-h3{
            font-size: 20px;
        }
        .Btn{
            font-size: 20px;
            height: 40px;
        }
        }
    
/*-----------------------------------------Registro--------------------------------------------*/

        .Registro-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            width: 100%;
         
        }
        .Registro-form{
        background-color: var(--light-pink-color);
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        
        }
        .Registro-label{
        padding: 10px;
        font-size: 14px;
        }
        .Registro-input{
        
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 90%;
        margin:10px;
        }
        .Registro-h2{
            display: flex;
            justify-content: center;
        
        }
        
    /* ------------------------------------------Registro Responsive-----------------*/    
        @media screen and (min-width: 766px) {
        
        .Registro-form{
            margin-top: 50px;
            width: 70%;
        }
        .Registro-label{
            font-size: 16px;
        }
        .Registro-input{
            height: 20px;
        }
        .Btn{
            font-size: 18px;
            height: 30px;
        }
        .Registro-h2{ 
            font-size: 22px;}
        }
        
        
        
        @media screen and (min-width:1600px) {
        
            .Registro-form{
                margin-top: 50px;
                width: 30%;
            }
            .Registro-label{
                font-size: 18px;
            }
            .Registro-input{
                height: 30px;
                width: 94%;
            }
            .Btn{
                font-size: 20px;
                height: 40px;
            }
            .Registro-h2{ 
                font-size: 28px;}
        }
        